<td colspan="3">
	<hr/>
	<div class="mte-row">
		<div class="mte-td-left">
			<div class="small">Valor Noche 1 (usd)</div>
			<input type="number" step="0.01" placeholder="" name="mte-night-1-value" id="mte-night-1-value" value="" class="textbox form-control mte-input"/>
		</div>
	</div>
	<div class="mte-row">
		<div class="mte-td-left">
			<div class="small">Valor Noche 2 (usd)</div>
			<input type="number" step="0.01" placeholder="" name="mte-night-2-value" id="mte-night-2-value" value="" class="textbox form-control mte-input"/>
		</div>
		<div class="mte-td-right">
			<div class="small">Dias a valor 2</div>
			<input type="number" placeholder="" name="mte-night-2-days" id="mte-night-2-days" value="" class="textbox form-control mte-input"/>
		</div>
	</div>
	<div class="mte-row">
		<div class="mte-td-left">
			<div class="small">Comisionista</div>
			<input type="text" placeholder="" name="mte-agent" id="mte-agent" value="" maxlength="50" class="textbox form-control mte-input"/>
		</div>
	</div>
	<div class="mte-row">
		<div class="mte-td-left">
			<div class="small">Earlier check in (usd)</div>
			<input type="number" step="0.01" placeholder="" name="mte-earlier" id="mte-earlier" value="" class="textbox form-control mte-input"/>
		</div>
		<div class="mte-td-right">
			<div class="small">Late check out (usd)</div>
			<input type="number" step="0.01" placeholder="" name="mte-late" id="mte-late" value="" class="textbox form-control mte-input"/>
		</div>
	</div>
	<div class="mte-row" id="mte-payments">
		<div class="mte-td-left">
			<div class="small">Payments</div>
			<input type="text" placeholder="detalle" name="mte-payment-detail" id="mte-payment-detail" value="" class="textbox form-control mte-input"/>
		</div>
		<div class="mte-td-right">
			<div class="small mte-color-white">o</div>
			<input type="number" step="0.01" placeholder="valor" name="mte-payment-value" id="mte-payment-value" value="" class="textbox form-control mte-input"/>
		</div>
		<div class="mte-td-left">
			<input type="text" placeholder="detalle" name="mte-payment-detail" id="mte-payment-detail" value="" maxlength="199" class="textbox form-control mte-input"/>
		</div>
		<div class="mte-td-right">
			<input type="number" step="0.01" placeholder="valor" name="mte-payment-value" id="mte-payment-value" value="" maxlength="199" class="textbox form-control mte-input"/>
		</div>
	</div>
	<div class="mte-row">
		<div class="mte-td-left">
			<button>Agregar payment</button>
		</div>
	</div>
	<div class="mte-row" id="mte-extras">
		<div class="mte-td-left">
			<div class="small">Gastos extras</div>
			<input type="text" placeholder="detalle" name="mte-extra-detail" id="mte-extra-detail" value="" class="textbox form-control mte-input"/>
		</div>
		<div class="mte-td-right">
			<div class="small mte-color-white">o</div>
			<input type="number" step="0.01" placeholder="valor" name="mte-extra-value" id="mte-extra-value" value="" class="textbox form-control mte-input"/>
		</div>
		<div class="mte-td-left">
			<input type="text" placeholder="detalle" name="mte-extra-detail" id="mte-extra-detail" value="" class="textbox form-control mte-input"/>
		</div>
		<div class="mte-td-right">
			<input type="number" step="0.01" placeholder="valor" name="mte-extra-value" id="mte-extra-value" value="" class="textbox form-control mte-input"/>
		</div>
	</div>
	<div class="mte-row">
		<div class="mte-td-left">
			<button>Agregar gasto</button>
		</div>
	</div>
</td>