.mte-row {
	width:100%;
	overflow:hidden;
	margin:0px;
}
.mte-row.title-1 {
	margin:5px 0px;
        font-weight: bold;
}
.mte-row.title-2 {
	margin:5px 0px;
}
.mte-td-left {
	float:left;
	margin: 0px 8px 4px 0;
	width: 48%;
}
.mte-td-right {
	float:left;
	margin:0px 0px 4px 0px;
	width: 48%;
}
.mte-td-right-sm {
	float:left;
	margin:0px 0px 4px 0px;
	width: 43%;
}
.mte-td-left.col-3 {
	width: 32% !important;
}
.mte-td-right.col-3 {
	width: 30% !important;
}
.mte-td-right-sm.col-3 {
        width: 25% !important;
}
.mte-td-left.col-4 {
	width: 25% !important;
}
.mte-td-right.col-4 {
	width: 20% !important;
}
.mte-td-right-sm.col-4 {
        width: 15% !important;
}
.mte-td-right-btn {
	float:left;
	margin:0px 4px 4px 4px;
	width: 4%;
}
.mte-color-white {
	color: white;
}
.mte-input {
	display:inline;
	width:100%
}