@font-face{
    font-family:"glacial-bold";src:url("../fonts/GlacialIndifference-Bold.otf");font-weight:normal;font-style:normal
}
@font-face{
    font-family:"glacial";src:url("../fonts/GlacialIndifference-Regular.otf");font-weight:normal;font-style:normal
}

body{
    font-family: 'glacial';
}



.form-group.has-error iframe{
    border-color: #dd4b39 !important;
    box-shadow: none;
}

.checkbox .icheckbox_flat-green{margin-right: 5px;}

.login-box-body .alert,.register-box-body .alert {
    margin: 20px 0px 0px 0px;
}
.content table th {
    background-color: #dcdcdc;
}
.btn-note-popover:before {
    content: "\f05a";
}
.btn-note-popover {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}